<!-- Template Driven Forms -->
<!-- <div class="container-fluid">
    <form #userLogInForm="ngForm" novalidate>
        <div class="form-group"> 
            <label>Email</label>
            <input type="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [class.is-invalid]="email.invalid && email.touched" class="form-control" name="txtEmail" #email="ngModel" [(ngModel)]="userModel.email" required>
            <small class="text-danger" *ngIf="email.invalid && email.touched">Email is required</small>
        </div>
        
        <div class="form-group">
            <label>Password</label>
            <input type="password" [class.is-invalid]="pass.invalid && pass.touched" name="txtPass" #pass="ngModel" [(ngModel)]="userModel.pass" ngModel required class="form-control">
            <small class="text-danger" *ngIf="pass.invalid && pass.touched">Password is required</small>
        </div>
        
        <br>
        
        <input type="text" [disabled]="userLogInForm.form.invalid" class="btn btn-primary" value="Login">

    </form>
</div> -->