<app-header></app-header>
<main class="container my-4">
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->

<!-- <app-products></app-products>
<app-home></app-home>
<app-post></app-post>
<app-user></app-user> -->

<!-- <button (click)="toggleButtonState()">Display Data</button>
<div *ngIf="isClicked; then showData;">
    {{child.renderValues()}}
</div>

<ng-template #showData>
    <div *ngFor="let data of appProductList">
        {{data.id}}
        {{data.name}}
        {{data.quantity}}
        {{data.price}}
        {{data.img}}
    </div>
</ng-template> -->
<!-- <app-footer></app-footer>
<router-outlet></router-outlet> -->